@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Josefin+Sans:ital,wght@0,121;1,100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Comforter", cursive;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}

#header h1 {
    font-size: 6rem;
    color: white;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(255, 247, 128, 0.61);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul a {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul li:hover a {
  color: rgb(0, 0, 0);
}

#header .nav-list ul li {
  display: inline-block;
}

#hero {
  background-image: url(Picture/Background_photo.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(184, 65, 65);
  opacity: 0.7;
  z-index: -1;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(223, 223, 150);
}

#hero .cta {
  display: inline-block;
  padding: 10px 30px;
  background-color: transparent;
  color: yellow;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  border: 2px solid yellow;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

#hero .cta:hover {
  color: rgb(0, 0, 0);
  background-color: yellow;
}

#service .service {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
  font-size: 3rem;
}

#service .service-top {
  max-width: 500px;
  margin: 0 auto;
  font-size: 10rem;
}

#service .service-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#footer {
    background-color: rgba(255, 247, 128, 0.61);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 15px;
}

#footer h2 {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #footer .social-icon {
    display: flex;
    margin-bottom: 30px;
  }

  #footer .social-item {
      display: inline-block;
  }
