@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Josefin+Sans:ital,wght@0,121;1,100&display=swap');    

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

html {
    font-size: 10px;
    font-family: 'Comforter', cursive;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: crimson;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 20px;
    display: block;
  }